html,body{width:100%; height:748px;  font-family:Verdana, Geneva, sans-serif; font-size:12px; }
body.portrait{width:768px; height:1004px; }
#container{width:1024px; height:748px;overflow:hidden;}
#portrait{position:absolute; z-index:100; top:0; left:0; width:768px; height:1024px; background:url(images/app_aviso.jpg); display:none; }
#protrait.addtohome{background:url(images/app_in_h.jpg); }
/*.content{position:absolute; top:0; left:0; width:100%; height:100%; }*/
.content{position:relative; }
#loading{border-radius:5px; background:#fff; border:solid 1px #ccc; position:absolute; top:50%; left:50%; width:200px; height:55px; margin-top:-25px; margin-left:-100px; z-index:99; display:none; text-align:center; line-height:50px; }
#loading img{ vertical-align:middle; }

#status-bar{position:absolute; top:-10px; background:#fff; border-radius:10px; padding:1%; padding-top:1.5%; width:90%; margin-left:5%; font:11px; color:#666; border:solid 1px #999; text-align:center; font:12px; z-index:50; display:none; } 
.volver {
	position: absolute;
	top: 60px;
	padding:5px 0 15px 15px;
	z-index: 10;
	width: 142px;
	height: 49px;
	right: 0;
	display:block;
	background-image: url(images/volver.png);
	background-repeat: no-repeat;
	background-position:20px 0;
}
.volver-home {
	position: absolute;
	top: 10px;
	padding:0px 0 5px 15px;
	z-index: 10;
	width: 142px;
	height: 49px;
	right: 0;
	display:block;
	background-image: url(images/home.png);
	background-repeat: no-repeat;
	background-position:20px 0;
}


/* Páginas */
.page-content{width:100%; min-height:748px; overflow:hidden; }

/* Home */
#home{background:url(images/landing.jpg); }
#menu-container{position:absolute; left:30px; bottom:30px; }
#menu-container img{position:relative; }

/* Cateogrías */
#cats{overflow:hidden; width:800px; }
#categorias{background:url(images/menu_fitness.jpg); padding:20px; }
.cat_nivel2{clear:both; display:block; margin-bottom:10px; margin-top:10px; height:50px; width:auto !important; }
#categorias .grupo{margin-bottom:15px; float:left; margin-right:50px;}
#categorias .grupo img{width:146px; }

/* Equipos */
#equipos{background:url(images/fondo_ficha.jpg) no-repeat; }
#equipos .producto {position:relative; height:615px; width:1024px; float:left; }
#equipos .producto .wrapper{margin:40px 0 0 40px; }
#equipos .producto .mainimg{position:absolute; right:0px; top:50px; max-width:700px; max-height:550px;  }
#equipos .producto .nombre{font-family: helvetica;font-size: 32px;font-weight: normal;line-height: 30px; margin-bottom:20px; display:block; width:400px;}
#equipos .producto .desc{position:absolute; bottom:-200px; left:0; z-index:1; width:700px; margin-left:60px; }
#equipos .producto .desc .text{background:#000; opacity:0.8; border-top-left-radius: 15px;border-top-right-radius: 15px; height:200px;  } 
#equipos .producto .desc .text .wrapper{padding:20px; color:#fff; margin:0; }
#equipos .producto .desc h3{background:#000; opacity:0.8; border-top-left-radius: 15px;border-top-right-radius: 15px; margin-top:0px; display:block; width:200px; margin-left:40px; height:45px; line-height:45px; font-family: helvetica;font-size: 22px;color: #CCC;text-align: center; }
#belt-container{width:1024px; height:585px; }
#belt-container .mas-data{float:right; width:150px; font-size:12px;  }
#belt-container .detalleul{list-style:disc; display:block; float:left; width:500px; }
#belt-container .detalleul li{list-style:disc; margin-left:20px; margin-top:5px; }
#equipos .video{margin-top:20px; }
#equipos .thumbimgs{	margin-top:20px; }

#gallery-container{
	width: 1024px;
	height: 125px;
	position: absolute;
	bottom: 0;
	z-index:5;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #666;
	text-align: left;
	overflow: hidden;
	background-image: url(images/menu_barra.jpg);
	background-repeat: no-repeat;
	background-color:#333;
}
#gallery{
	height: 125px;
	position: absolute;
	bottom: 0;
	z-index:5;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #666;
	text-align: left;
	overflow: hidden;
}

#gallery .miniprod {
	position:relative;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	line-height:80px;
	font-size: 10px;
	width: 80px;
	height: 105px;
	float: left;
	margin-left: 40px;
	margin-top:10px;
	-webkit-border-radius: 15px;
	overflow: hidden;
	text-align: center;
	background-image: url(../images/lightbox-ico-loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
}
#gallery .miniprod img{max-width:80px; max-height:80px; margin-top:12px; text-align:center; vertical-align:middle; }
#gallery .miniprod span{line-height:15px; position:absolute; display:block; width:100%; text-align:center; bottom:5px; }


/* Detalle de equipo */
#detalle .video{position:absolute; left:100px; top:360px;  }
#equipo .desc{top: 50px;position: absolute;left: 50px;width: 400px;height: 380px; overflow:hidden;}
#equipo .desc ul{
	font-family: helvetica;
	font-size: 16px;
	color: black;
	text-align: left;
	list-style-type: square;
	line-height: 20px;
	padding-left:30px;
}
#lista-detalle{position:absolute; top:80px; left:0; overflow:hidden; padding-top:20px; width:100%; height:280px; }
#bottom-detalle{	
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
	position:absolute; bottom:0; left:0; width:100%; height:20px;
}
#top-detalle{	
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	position:absolute; top:0; left:0; width:100%; height:30px;
}
#equipo h2{font-family: helvetica;
font-size: 32px;
font-weight: bold;
line-height: 30px; margin-top:50px;}
#equipo .producto{position: absolute;
right: 0;
width: 500px;
height: 480px;}
#equipo .bottom-box{border-radius:15px; width:90%;background:#000; opacity:0.9; color:#fff; overflow:hidden; position:absolute; bottom:0; left:5%; }
#equipo .bottom-box .caracteristicas-box{margin:20px 10px 15px 60px; float:left; width:60%; }
#equipo .bottom-box .caracteristicas-box li{list-style:square; margin-left:20px; margin-bottom:10px; }
#equipo .bottom-box .caracteristicas-box h3{
	font-family: helvetica;
	font-size: 22px;
	color: white;
	text-align: left;
	padding-top: 10px;
	margin-bottom:20px;
	line-height: 20px;
}

#equipo .bottom-box .mas-info-box{float:right; width:220px;  margin-top:10px; margin-bottom:10px; margin-right:10px;}
#equipo .bottom-box .mas-info-box .precio{font-size:20px; }
#equipo .bottom-box .mas-info-box .stock{font-size:15px; }
#equipo .bottom-box .mas-info-box .opciones{margin-top:20px;}



/* Cotización */
#cotizacion{background:url(images/formulario.jpg); }
#cotizacion  h2{margin-bottom:20px; font-size:28px; }
#cotizacion .form{width: 800px;
margin-top: 130px;
margin-left: 112px;
font-family: helvetica;
font-size: 24px;
line-height: 30px;
color: white;}
#cotizacion .input{padding-bottom: 5px; padding-left:30px;}
#cotizacion .input input{border: 1px solid #CCC;font-size: 18px;font-family: Verdana, Arial; width:450px; padding:2px; border-radius:3px;}
#cotizacion .input label{width: 120px;float: left;text-align: left;}
#cotizacion .form [type=submit]{float: right;text-align: right;color: white; cursor:pointer; border: 1px solid black; border-radius:10px; padding:10px; font-size:18px;}
#cotizacion .form [type=submit]:active{background:#333; }
#cotizacion #response h3{position:absolute; left:20%; color:#fff; font-size:25px; text-align:center; display:block; width:60%; top:300px; }

/* Confirmación */
#confirmacion{background:url(images/formulario.jpg); }
#confirmacion  h2{margin-bottom:20px; font-size:25px; text-align:right; }
#confirmacion .form{width: 800px;
margin-top: 100px;
margin-left: 112px;
font-family: helvetica;
font-size: 24px;
line-height: 30px;
color: white;}
#confirmacion .input{padding-bottom: 5px; padding-left:30px;}
#confirmacion .input input{border: 1px solid #CCC;font-size: 18px;font-family: Verdana, Arial; width:500px; padding:2px; border-radius:3px;}
#confirmacion .input label{width: 200px;float: left;text-align: left; font-size:18px;}
#confirmacion .form [type=submit]{float: right;text-align: right;color: white; cursor:pointer; border: 1px solid black; border-radius:10px; padding:10px; font-size:18px;}
#confirmacion .form [type=submit]:active{background:#333; }
#confirmacion #response h3{position:absolute; left:20%; color:#fff; font-size:25px; text-align:center; display:block; width:60%; top:300px; }


/* Comparador */
#comparador{background:url(images/fondo_comp.jpg); }

#comparacion .producto-container{width:320px; height:633px; overflow:hidden; float:left; margin-left:15px; position:relative; }
#comparacion .producto{width: 320px;height: 633px;text-align: center;position: absolute;top: 633px; left:0; background-image: url(images/comp_barra.png);background-repeat: no-repeat;background-position: center top; }
#comparacion .mainimg{float: left;width: 150px;height: 170px;padding-top: 30px;}
#comparacion h3{float: right;width: 150px;height: 170px;text-align: left;margin-top: 10px; display:block;font-family: helvetica;font-size: 25px;font-weight: bold;line-height: 30px; padding-top:20px;}
#comparacion ul{font-family: helvetica;margin-left:30px;font-size: 16px;color: black;text-align: left;list-style-type: square;line-height: 20px;}
#comparacion .info{clear:both;  }
#comparacion .ver_ficha{float:right; }
#comparacion .caracteristicas{margin-top:50px; clear:both; }

#trace{
	position: absolute;
	top: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
	width: 200px;
	height: 40px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	margin-left: 412px;
	-webkit-box-shadow: 0 0 15px #888;
	
	font-family: helvetica;
	font-size: 22px;
	line-height:40px;
	color: #CCC;
	text-align: center;
}


