<script>
	if(typeof(app) == "undefined")window.location="index.html";
	var request = app.getRequestData();
	db.selectSql("SELECT * FROM categorias WHERE activo = 1 AND cat_padre = "+request.cat_id,[],function(categorias){
		console.log(categorias);
		for(var i in categorias){
			var val = categorias[i];
			$("#cats").append('<div class="grupo" cat_id="'+val.id+'"><img class="cat_nivel2" src="'+UPLOADS_URL+val.imagen+'"></div>');
		}
		
		
		$(".grupo").each(function(){
			var grupo = this;
			var catid = $(grupo).attr("cat_id");
			db.selectSql("SELECT * FROM categorias WHERE activo = 1 AND cat_padre = "+catid,[],function(categorias){
				for(var i in categorias){
					var val = categorias[i];
					$(grupo).append('<a data-ajax href="equipos.html?cat_id='+val.id+'"><img class="cat_nivel3" src="'+UPLOADS_URL+val.imagen+'"></a>');
				}
			},true);
		});
	},true);
</script>
		
<div id="categorias" class="page-content">
	<a href="javascript:window.history.go(-1);" class="volver"></a>
	<a href="home.html?from=volver" data-ajax class="volver-home"></a>
	<div id="cats">
		
	</div>
	<!--<img style="position:absolute;top:560px;left:430px" src="images/fitness.png" name="fitness.png" id="1">-->
	
</div>