<script>
if(typeof(app) == "undefined")window.location="index.html";
</script>
<script>
	var request = app.getRequestData();
	db.selectSql("SELECT * FROM productos WHERE id = "+request.equipo,[],function(productos){
		for(var i in productos){
			var val = productos[i];
			$('.equipo_nombre').html(val.nombre);
		}
	},true);
	
	var subprods = {};
	db.selectSql("SELECT * FROM subproductos WHERE activo = 1 AND  parent_id = "+request.equipo,[],function(subproductos){
		if(subproductos.length > 0){
			var tmp = "";
			for(var i in subproductos){
				var val = subproductos[i];
				tmp += "<option value='"+val.detalle+" ("+val.upc+")'>"+val.detalle+" ("+val.upc+")</option>";
			}
			$("#sku").html(tmp).closest(".input").show();
		}
	},true);
	
	db.selectSql("SELECT * FROM tiendas",[],function(tiendas){
		for(var i in tiendas){
			var val = tiendas[i];
			$('#tienda').append("<option value='"+val.id+"'>"+val.nombre+"</option>");
		}
	},true);
	
	
	$('#rut').Rut({
	  on_error: function(){ $("#rut").css("backgroundColor","#FF7B79") },
	  on_success:function(){$("#rut").css("backgroundColor","#fff") },
	  format_on: 'keyup'
	}); 
	
	$("#form-cotizacion").submit(function(){
		var resp = "";
		if($("[name=tienda]").val() == "")resp+="- Debe seleccionar una tienda\n";
		if($("[name=nombre]").val() == "")resp+="- Debe ingresar campo nombre\n";
		if($("[name=direccion]").val() == "")resp+="- Debe ingresar campo dirección\n";
		if($("[name=comuna]").val() == "")resp+="- Debe ingresar campo comuna\n";
		if($("[name=ciudad]").val() == "")resp+="- Debe ingresar campo ciudad\n";
		if(!(/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/).test($("[name=email]").val()))resp+="- El email ingresado es inválido\n";
		if($("[name=rut]").val() == "")resp+="- Debe ingresar campo rut\n";
		
		if(resp != ""){ //Errores de validacion
			alert("Porfavor, solucione los siguientes problemas: \n\n"+resp);
		}else{ //Todo OK
			var data = [];
			data.push(request.equipo);
			$(this).find("input:not([type=submit]), select").each(function(){
				data.push($(this).val());
			});
			
			//console.log(data);
			db.selectSql("INSERT INTO cotizaciones (equipo_id,tienda_id,subproducto, nombre, direccion, comuna, ciudad, email, rut, genero) VALUES (?,?,?,?,?,?,?,?,?,?)",data,function(a,b){
				$("#form-cotizacion").fadeOut(app.animationtime,function(){
					if(navigator.onLine){
						$("#response h3").html("Formulario ingresado satisfactoriamente.").fadeIn(app.animationtime);
						Notification.show("Enviando datos al servidor...",1000);
						db.syncUpload(function(synchronized){
							if(synchronized){
								Notification.show("Datos enviados satisfactoriamente.",2000);
							}else{
								Notification.show("No se sincronizaron los datos.",2000);	
							}
						});
					}else{
						$("#response h3").html("Formulario ingresado satisfactoriamente.<br /><span style='font-size:12px'>Estás sin conexión, por lo que los datos serán enviados una vez que vuelva internet.</span>")	.fadeIn(app.animationtime);
					}
				});
				
			},true);
		}
		return false;
	});
	
	$("#form-pass").submit(function(){
		validatePass($("#password").val(),function(tienda){
			if(tienda != false){
				$("#pass").hide(500);
				$(".form").fadeIn(500);
				$("[name=tienda]").val(tienda);
			}else{
				alert("Contraseña incorrecta");	
			}
		});
		return false;
	});
	
</script>
<style type="text/css">
.form{display:none; }
#pass{position:absolute; width:500px; height:300px; top:50%; left:50%; margin-left:-250px; margin-top:-150px; }
#pass label{color:#fff; }
#pass [type=submit]{background:#ccc; border-radius:5px; padding:8px; margin-left:30px; }
</style>
<div id="cotizacion" class="page-content">
	<a href="javascript:window.history.go(-1);" class="volver"></a>
	<div id="pass">
		<form action="" id="form-pass">
		<div class="input">
			<label for="password">Contraseña: </label>
			<input type="password" id="password" name="password" />
		</div>
		<input type="submit" value="Acceder">
		</form>
	</div>
	<div class="form">
		<form action="" id="form-cotizacion">
		<input type="hidden" name="tienda" id="tienda" />
		<h2>Cotización - <span class="equipo_nombre"></span></h2>
		<!--<div class="input">
			<label for="tienda">Tienda: </label>
			
			<select id="tienda" name="tienda">
				<option value="0">Seleccione una tienda</option>
			</select>
		</div>-->
		<div class="input" id="sku-selector" style="display:none">
			<label for="sku">Producto: </label>
			<select name="sku" id="sku">
				<option value=""></option>
			</select>
		</div>
		<div class="input">
			<label for="nombre">Nombre: </label>
			<input type="text" id="nombre" name="nombre" />
		</div>
		<div class="input">
			<label for="direccion">Dirección: </label>
			<input type="text" id="direccion" name="direccion" />
		</div>
		<div class="input">
			<label for="comuna">Comuna: </label>
			<input type="text" name="comuna" id="comuna">
		</div>
		<div class="input">
			<label for="ciudad">Ciudad: </label>
			<input type="text" name="ciudad" id="ciudad">
		</div>
		<div class="input">
			<label for="email">E-mail: </label>
			<input type="email" name="email" id="email">
		</div>
		<div class="input">
			<label for="rut">Rut: </label>
			<input type="text" name="rut" id="rut">
		</div>
		<div class="input">
			<label for="genero">Género: </label>
			<select name="genero" id="genero">
				<option value="hombre">Hombre</option>
				<option value="mujer">Mujer</option>
			</select>
		</div>
		
		<input type="submit" value="Enviar">
		</form>
	</div>
	<div id="response">
		<h3></h3>
	</div>
</div>