<script>
	
	if(typeof(app) == "undefined")window.location="index.html";
	
	var totalprods = 0;
	var request = app.getRequestData();
	db.selectSql("SELECT * FROM productos WHERE activo = 1 AND cat_id = "+request.cat_id,[],function(productos){
		totalprods = productos.length;
		for(var i in productos){
			var val = productos[i];
			var opts = '<a data-ajax href="equipo.html?id='+val.id+'"><img src="images/ver_ficha_n.png"></a><br />';
			if(val.permitir_compra)opts += '<a data-ajax href="confirmar.html?equipo='+val.id+'"><img src="images/o_comp_n.png"></a><br />';
         	opts += '<a data-ajax href="cotizar.html?equipo='+val.id+'"><img src="images/cot_n.png"></a>';
       		
			
			var detalle = val.detalle.split("\n");
			var det = "";
			for(var i in detalle){
				det+= "<li>"+detalle[i]+"</li>";	
			}
			
			var html = '<div class="wrapper"><h2 class="nombre">'+val.nombre+'</h2>'+opts+'<div class="video"></div><div class="thumbimgs"><a href="'+UPLOADS_URL+val.imagen+'" class="ver_galeria"><img src="images/thumb1.jpg"></a></div><div class="desc"><h3>Descripción</h3><div class="text"><div class="wrapper"><div class="mas-data"><ul><li>Precio: <span class="precio">$ '+number_format(val.precio,0,",",".")+'</span></li>';
			if(val.permitir_compra)html += '<li>Stock: <span class="stock">'+val.stock+'</span></li>';
			html += '</ul></div><ul class="detalleul">'+(det)+'</ul></div></div></div><img class="mainimg" src="'+UPLOADS_URL+val.imagen+'"></div>';
			
			var $html = $('<div class="producto" prodid="'+val.id+'">').html(html);
			if(val.youtube != ""){
				$html.find(".video").html('<iframe stylme="margin-top:10px" width="200" height="120" src="http://www.youtube.com/embed/'+val.youtube+'" frameborder="0" allowfullscreen></iframe>');
			}
			var imagenes = val.galeria.split(",");
			for(var i in imagenes){
				if(imagenes[i] != "")$html.find(".thumbimgs").append("<a href='"+UPLOADS_URL + imagenes[i]+"'></a>");	
			}
			
			var $imgs = $html.find(".thumbimgs a,.ver_galeria").bind("click",function(e){
				e.preventDefault(); 
			}).bind(events.start,function(){
				$(this).trigger("click"); 
				return false; 
			}).photoSwipe({ allowUserZoom:false,backButtonHideEnabled:false,enableMouseWheel: false ,  enableKeyboard: false })
			
			$("#belt").append($html);
			
			$("#gallery").append("<div class='miniprod' prodid="+val.id+"><img class='mainimg' src='"+UPLOADS_URL+val.imagen+"' /><span>"+val.modelo+"</span></div>");
			$("#belt").width($(".producto").length*1024);
			
		}
		$(".desc").bind("mousedown touchstart",function(e){
			if(!$(this).hasClass("showed")){
				$(this).animate({bottom:0},app.animationtime).addClass("showed");
			}else{
				$(this).animate({bottom:-190},app.animationtime).removeClass("showed");
			}
			e.preventDefault();
			return false;
		});
		
		
		var obj = {};
		$("#belt").bind(events.start,function(e){
			if(obj.dragging)return false;
			var x = (typeof(e.originalEvent.touches) == "undefined")?e.clientX:e.originalEvent.touches[0].clientX;
			var y = (typeof(e.originalEvent.touches) == "undefined")?e.clientY:e.originalEvent.touches[0].clientY;
			obj.dragging = true;
			obj.startpos = {left:x,top:y}
			$(this).attr("initialMargin",$(this).css("marginLeft"));
			$(this).bind(events.move,function(e){
				var x = (typeof(e.originalEvent.touches) == "undefined")?e.clientX:e.originalEvent.touches[0].clientX;
				var y = (typeof(e.originalEvent.touches) == "undefined")?e.clientY:e.originalEvent.touches[0].clientY;
				var diff = x-obj.startpos.left;
				var initial = $(this).attr("initialMargin")
				initial = parseInt(initial.substr(0,initial.length-2));
				
				$(this).css("marginLeft",initial+diff);
				e.preventDefault();
			});
		});
		$("[data-ajax]").bind(app.clickevent,function(){
			var url = $(this).attr("href");
			History.pushState(null,null,url);
			return false;
		}); 
		$(document).bind(events.end,function(e){
			if(obj.dragging){
				$("#belt").unbind(events.move);
				var total = $(".producto").length;
				var m = $("#belt").css("marginLeft");
				m = parseInt(m.substr(0,m.length-2));
				var m2 = $("#belt").attr("initialMargin");
				m2 = parseInt(m2.substr(0,m2.length-2));
				var diff = m-m2;
				var currentm = Math.abs(m2/1024);
				if(diff > 0){ //Mueve a la derecha (quiero avanzar a la izquierda)
					nextm = (currentm <= 0)?0:Math.floor(currentm-1);
				}else{//Mueve a la izquierda (quiero avanzar a la derecha)
					nextm = (currentm >= total-1)?currentm:Math.floor(currentm+1);
				}
				$("#trace .current").html(parseInt(nextm)+1);
				$("#belt").animate({"marginLeft":-(nextm*1024)},app.animationtime,function(){
					obj.dragging = false;	
				});
				return false;
			}
		});
		
		$("#gallery").bind(events.start,function(e){
			if(obj.dragging)return false;
			var x = (typeof(e.originalEvent.touches) == "undefined")?e.clientX:e.originalEvent.touches[0].clientX;
			var y = (typeof(e.originalEvent.touches) == "undefined")?e.clientY:e.originalEvent.touches[0].clientY;
			obj.dragging = true;
			obj.startpos = {left:x,top:y}
			$(this).attr("initialMargin",$(this).css("marginLeft"));
			$(this).bind(events.move,function(e){
				var x = (typeof(e.originalEvent.touches) == "undefined")?e.clientX:e.originalEvent.touches[0].clientX;
				var y = (typeof(e.originalEvent.touches) == "undefined")?e.clientY:e.originalEvent.touches[0].clientY;
				var diff = x-obj.startpos.left;
				var initial = $(this).attr("initialMargin")
				initial = parseInt(initial.substr(0,initial.length-2));
				$(this).css("marginLeft",initial+diff);
				e.preventDefault();
				return false;
			}).bind(events.end,function(e){
				if(obj.dragging){
					$(this).unbind(events.end).unbind(events.move);
					obj.dragging = false;
					$("#gallery").unbind("touchmove");
					var m = $("#gallery").css("marginLeft");
					m = parseInt(m.substr(0,m.length-2));
					var m2 = $("#gallery").attr("initialMargin");
					m2 = parseInt(m2.substr(0,m2.length-2));
					var diff = m-m2;
					if(diff > 35 || diff < -35){
						$(e.srcElement).parent().attr("noclick","true");	
					}
				}
				return false;
			});
			return isTouchDevice();
		});
		
		$(".miniprod").bind(events.start,function(){
			var num = $(this).index(".miniprod");
			$("#trace .current").html(parseInt(num)+1);
			if($(this).attr("noclick") == "true"){
				$(this).attr("noclick",null) 
				return false;
			}
			var index = $(".miniprod").index(this);
			$("#belt").animate({"marginLeft":-(index*1024)},app.animationtime*4);
		});
		
		$("#trace .total").html(totalprods);
	},true);
</script>
		
<div id="equipos" class="page-content">
	<div id="trace"><span class="current">1</span> / <span class="total"></span></div>
	<a href="javascript:window.history.go(-1);" class="volver"></a>
	<div id="belt-container">
		<div id="belt">
			
		</div>
	</div>
	<!--<img style="position:absolute;top:560px;left:430px" src="images/fitness.png" name="fitness.png" id="1">-->
	<div id="gallery-container">
		<div id="gallery">
			
		</div>
	</div>
</span></div>