<script>if(typeof(app) == "undefined")window.location="index.html";</script>

<div id="intro" style="position:absolute; top:0; left:0; width:100%; 
height:100%;height:100%;cursor:pointer;background:url(css/images/bg_intro.jpg) center center no-repeat;" class="page-content">
	
	
</div>

<script>
$(function(){
	$("#intro").click(function(){
		History.pushState(null,null,"home.html");
	});
});
</script>
