/********************************      Basic Structure      ********************************/

html {
	font-size: 100%;
	height: 100%;
	margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #555;
	background: #D9D8D8 url('../images/bg-body.gif') top left repeat-y;
	font-size: 12px;
	height:100%;
}
#body-wrapper {
	 background: url('../images/bg-radial-gradient.gif') fixed 230px top no-repeat;
	height:100%;
}
/********************************      Elements styling      ********************************/

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	color: #222;
	font-weight: bold;
}
h1 {
	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size: 31px;
	font-weight: bold;
	color: #fff;
}
h2 {
	font-size: 26px;
	padding: 0 0 10px 0;
}
h3 {
	font-size: 17px;
	padding: 0 0 10px 0;
}
h4 {
	font-size: 16px;
	padding: 0 0 5px 0;
}
h5 {
	font-size: 14px;
	padding: 0 0 5px 0;
}
h6 {
	font-size: 12px;
	padding: 0 0 5px 0;
}
a {
	color: #57a000;
	text-decoration: none;
}
a:hover {
	color: #000;
}
a:active {
	color: #777;
}
a:focus {
	outline: 1px;
}
strong {
	font-weight: bold;
	/*color: #333;*/
}
small {
	font-size: 0.85em;
}
pre {
	font-family: monospace;
}
p {
	padding: 5px 0 10px 0;
	line-height: 1.6em;
}
quote{ font-size:14px; }
/********************************      General Classes      ********************************/

.clear {
	clear: both;
}
.align-left {
	float: left;
}
.align-right {
	float: right;
}
/************ Button ************/
.button {
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	background: #459300 url('../images/bg-button-green.gif') top left repeat-x !important;
	border: 1px solid #459300 !important;
	padding: 3px 7px 4px 7px !important;
	color: #fff !important;
	font-size: 11px !important;
	cursor: pointer;
}
.button:hover {
	text-decoration: underline;
}
.button:active {
	padding: 5px 7px 3px 7px !important;
}
.button.disabled{background: #459300 url('../images/bg-button-disabled.gif') top left repeat-x !important;}
.button.disabled:hover{text-decoration:none;}
.button.disabled:active{padding: 4px 7px 4px 7px !important; }
a.remove-link {
	color: #bb0000;
}
a.remove-link:hover {
	color: #000;
}
/********************************      Sidebar      ********************************/

#sidebar {
	background: url('../images/bg-sidebar.gif') top left no-repeat;
	width: 230px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	color: #888;
	font-size: 11px;
}
#sidebar #sidebar-wrapper {
	margin: 0 0 0 9px;
}
#sidebar a, #sidebar a:active {
	color:#ccc;
}
#sidebar a:hover {
	color:#fff;
}
#sidebar #sidebar-title {
	margin: 40px 0 40px 15px;
}
#sidebar #profile-links {
	padding: 0 15px 20px 15px;
	text-align: right;
	line-height: 1.5em;
}
/************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
	width: 206px;
	padding: 0;
	margin: 0 0 0 15px;
	font-family: Helvetica, Arial, sans-serif;
}
#sidebar #main-nav li {
	list-style: none;
	padding-bottom: 10px;
	text-align: right;
}
#sidebar #main-nav li a.nav-top-item {
	background: transparent url('../images/bg-menu-item-green.gif') right center no-repeat; /* Background image for default color scheme - green */
	padding: 10px 15px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	display: block;
	text-decoration: none;
}
#sidebar #main-nav li a.current {
	background-image: url('../images/bg-menu-item-current.gif') !important;
	color: #333;
	font-weight: bold;
}
#sidebar #main-nav li a.current:hover {
	color: #333;
}
#sidebar #main-nav ul {
	padding: 0;
	font-size: 12px;
	margin: 0;
}
#sidebar #main-nav ul li {
	list-style: none;
	margin: 0;
	text-align: right;
	padding: 0;
}
#sidebar #main-nav ul li a {
	padding: 8px 15px;
	display: block;
	color: #aaa;
	font-size: 13px;
	line-height: 1.2em;
}
#sidebar #main-nav ul li a:hover, #sidebar #main-nav ul li a.current, #sidebar #main-nav ul li a.current:hover {
	color: #fff;
}
#sidebar #main-nav ul li a.current {
	background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
}
/************ Messages ************/

#messages p, #messages form {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}
#messages h4 {
	padding: 10px 0;
}
#messages fieldset {
	margin: 0;
}
#messages textarea {
	margin: 0 0 15px 0;
}
/********************************      Main Content      ********************************/

/************ Layout ************/

#main-content {
	margin: 0 30px 0 260px;
	padding: 40px 0 0 0;
	min-height:1000px;
	min-width:600px;
}
.column-left {
	width: 48%;
	float: left;
}
.column-right {
	width: 48%;
	float: right;
}
#page-intro {
	font-size: 17px;
	padding: 0 0 20px 0;
}
#footer {
	border-top: 1px solid #ccc;
	margin: 40px 0 0 0;
	padding: 20px 0;
	font-size: 12px;
}
/************ Lists ************/

#main-content ul, #main-content ol {
	padding: 10px 0;
}
/* Unordered List */

#main-content ul li {
	background: url('../images/icons/bullet_black.png') center left no-repeat;
	padding: 4px 0 4px 20px;
}
/* Ordered List */

#main-content ol {
	padding: 0 0 0 24px;
}
#main-content ol li {
	list-style: decimal;
	padding: 4px 0;
}
/*************** Content Box ***************/

.content-box {
	border: 1px solid #ccc;
	margin: 0 0 20px 0;
	background: #fff;
}
.content-box-header {
	background: #e5e5e5 url('../images/bg-content-box.gif') top left repeat-x;
	margin-top: 1px;
	height: 40px;
}
.content-box-header h3 {
	padding: 12px 15px 10px;
	float: left;
	cursor:pointer;
}
ul.content-box-tabs {
	float: right;
	padding: 12px 15px 0 0 !important;
	margin: 0 !important;
}
ul.content-box-tabs li {
	float: left;
	margin: 0;
	padding: 0 !important;
	background-image: none !important;
}
ul.content-box-tabs li a {
	color: #333;
	padding: 8px 10px;
	display: block;
	margin: 1px;
	border-bottom: 0;
}
ul.content-box-tabs li a:hover {
	color: #57a000;
}
ul.content-box-tabs li a.current {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: 0;
	margin: 0;
}
.content-box-content {
	padding: 20px;
	font-size: 13px;
	border-top: 1px solid #ccc;
}
/************ Table ************/

#main-content table {
	width: 100%;
	border-collapse: collapse;
}
#main-content table thead th {
	font-weight: bold;
	font-size: 15px;
	border-bottom: 1px solid #ddd;
}
#main-content table thead th.order {
	text-decoration:underline;
	cursor:pointer;
	background:url(../images/flecha_order.jpg) no-repeat left;
	padding-left:12px;
}
#main-content table thead th.order.asc {
	background:url(../images/flecha_asc.jpg) no-repeat left;
}
#main-content table thead th.order.desc {
	background:url(../images/flecha_desc.jpg) no-repeat left;
}
#main-content tbody {
	border-bottom: 1px solid #ddd;
}
#main-content tbody tr {
	background: #fff;
}
#main-content tbody tr.alt-row {
	background: #f3f3f3;
}
#main-content table td, #main-content table th {
	padding: 10px;
	line-height: 1.3em;
}
#main-content table tfoot td .bulk-actions {
	padding: 15px 0 5px 0;
}
#main-content table tfoot td .bulk-actions select {
	padding: 4px;
	border: 1px solid #ccc;
}

.reg_option{
	display:inline;
}
.reg_option a{margin-left:10px; }

/*************** Pagination ***************/

#main-content .pagination {
	text-align: right;
	padding: 20px 0 5px 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.pagination a {
	margin: 0 5px 0 0;
	padding: 3px 6px;
}
.pagination a.number {
	border: 1px solid #ddd;
}
.pagination a.current {
	background: #469400 url('../images/bg-button-green.gif') top left repeat-x !important;
	border-color: #459300 !important;
	color: #fff !important;
}
.pagination a.current:hover {
	text-decoration: underline;
}
/************ Shortcut Buttons ************/

.shortcut-button {
	border: 1px solid #ccc;
	background: #f7f7f7 url('../images/shortcut-button-bg.gif') top left no-repeat;
	display: block;
	width: 120px;
	margin: 0 0 20px 0;
}
.shortcut-button span {
	border: 1px solid #fff;
	display:block;
	padding: 15px 10px 15px 10px;
	text-align: center;
	color: #555;
	font-size: 13px;
	line-height: 1.3em;
}
.shortcut-button span img {
	margin-bottom: 10px;
}
.shortcut-button:hover {
	background: #fff;
}
.shortcut-button span:hover {
	color: #57a000;
}
ul.shortcut-buttons-set li {
	float: left;
	margin: 0 15px 0 0;
	padding: 0 !important;
	background: 0;
}


/*************** Forms ***************/

.form{overflow:hidden; }
.form .input{
	margin-top:10px;
	margin-bottom:20px;
	overflow:hidden;
	float:left;
	width:45%;
	margin-right:4%;
	
}
/*.form .input.text, .form .input.select{height:80px;}*/
.form .input.text, .form .input.select{height:auto;}
.form.oneline .input.text, .form.oneline .input.select{height:40px;}
.form .input .wrapper{
	margin:10px;
}
.form .input .desc {
	background-position: left 2px;
	background-repeat: no-repeat;
	padding: 2px 0 2px 0px;
	background-color: transparent;
	margin: 0 0 0 5px;
}
.oneline .input,.input.oneline {
	float:none;
	width:auto !important;
	clear:both;
}


.oneline .input label{text-align:right!important; line-height:26px; width:80px!important;}
.form .input small {
	display:block;
	font-size: 0.75em;
	color: #777;
	background:url(../images/question.png) no-repeat;
	width:30px;
	height:14px;
	float:left;
}
.form .input label {
	display: block;
	padding: 0 0 0px;
	margin-bottom:8px;
	font-weight: bold;
}
.form fieldset legend {
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 10px;
}
.form .input.text input,.form .input.file input, .form .input.select select, .form .input.textarea textarea, .form .input .wysiwyg, .bg_input {
	padding: 6px;
	font-size: 13px;
	background:url('../images/bg-form-field.gif') #fff top left repeat-x;
	border: 1px solid #d5d5d5;
	color: #333;
	/* width:30em; */
	width:95%;
	max-width:30em;
}
.form .input.medium input {
	width: 50%;
}
.form .input.large input {
	width: 97.5% !important;
	font-size: 16px !important;
	padding: 8px !important;
}
.form .input.textarea textarea {
	height:8.2em;
}
.form .input.select select {
	padding: 4px;
	background: #fff;
}
.form .input.submit input {
	width:auto !important; 	
}
.form .input input[type="checkbox"], .form .input input[type="radio"] {
	padding: 0;
	background: none;
	border: 0;
}
.form .input.file {border-top:dashed 1px #ccc; padding-top:10px; padding-bottom:10px;}
.form .input.file .current{clear:both;  float:left; display:block; color:#aaa; margin-right:15px; overflow:hidden; background:#eee; padding:8px; margin:0; border:solid 1px #999;}
.form .input.file .current strong{padding-bottom:5px; display:block; color:#aaa; }
.form .input.file object{float:left; clear:both; margin-top:10px; }
.form .input.file .uploadifyQueue{float:left; clear:both; width:100%;}
.form .input.file .delete{background:url("../js/uploadify/cancel.png") no-repeat; position:absolute; top:5px; right:5px;  width:16px; height:16px; margin-left:10px; display:block; float:left; font-size:1px; text-indent:-100000px; overflow:hidden; }

.form .input.file.image{ border:solid 1px #ccc;position:relative; overflow:hidden; }
.form .input.file.image .info{float: left;width: 70%;padding-left: 2%; margin-bottom:50px; overflow: hidden;}
.form .input.file.image .current{background:inherit; font-weight:normal; margin:0; padding:0; padding-bottom:5px; border:none; }
.form .input.file.image .img {float:left; width:25%; padding-top:5px; position:relative; margin-left:2%; min-height:25px; }
.form .input.file.image .img .loading{height:119px; text-indent:-10000px; font-size:1px; overflow:hidden; text-align:center; display:block; background:url(../images/ajax-loader.gif) no-repeat center center; position:absolute; top:0; left:0; width:100%; }
.form .input.file.image img{width:100%; }
.form .input.file.image .upload{position: absolute;bottom: 10px; width:70%; }
.form .input.file.image .delete{background:url(../js/uploadify/cancel.png) no-repeat; width:16px; height:16px; margin-left:10px; display:block; float:left; font-size:1px; text-indent:-100000px; overflow:hidden; }
.form .input.file.image .reset{position:absolute; top:5px; right:5px; display:none; }
.form .input.file.image .current span{margin-left:0; }

.form .input.html .wysiwyg{width:95% !important;min-height:100px; }
.form .input.html textarea{min-height:100px; }

.form .input.multiselect {border:solid 1px #eee; padding:10px 0 10px 0; height:auto !important; }
.form .input.multiselect .option{border:solid 1px #ccc; padding:5px; padding-bottom:0px; float:left; margin:5px; } 
.form .input.multiselect .option .close{background:url("../images/icons/delete.png") no-repeat !important; padding:2px; width:16px; height:16px; float:right;}
.form .input.multiselect .option input{display:none; }


.form .input.submit{float:none; clear:both; }

/* Notification for form inputs */

/************ Forms Types *******************/

.form.one_line .input{
	margin:0;
}
.form.one_line .input label{
	line-height:28px;
}
/*************** Notifications ***************/

.notification {
	position: relative;
	margin: 5px 0 10px 0;
	padding: 0;
	border: 1px solid;
	background-position: 10px 11px !important;
	background-repeat: no-repeat !important;
	font-size: 13px;
	width: 99.8%;
}
.attention {
	background: #fffbcc url('../images/icons/exclamation.png') 10px 11px no-repeat;
	border-color: #e6db55;
	color: #666452;
}
.information {
	background: #dbe3ff url('../images/icons/information.png');
	border-color: #a2b4ee;
	color: #585b66;
}
.success {
	background: #d5ffce url('../images/icons/tick_circle.png');
	border-color: #9adf8f;
	color: #556652;
}
.error {
	background: #ffcece url('../images/icons/cross_circle.png');
	border-color: #df8f8f;
	color: #665252;
}
.notification div {
	display:block;
	font-style:normal;
	padding: 10px 10px 10px 36px;
	line-height: 1.5em;
}
.notification .close {
	color:#990000;
	font-size:9px;
	position:absolute;
	right:5px;
	top:5px;
}
/* Notification for login page */
#login-wrapper #login-content .notification {
	border: 0;
	background-color: #141414;
	color: #fff !important;
}
/********************************      Login Page      ********************************/

body#login {
	color: #fff !important;
	background: #222 url('../images/bg-login.gif');
}
#login-wrapper {
	background: url('../images/bg-login-top.png') top left repeat-x;
}
#login-wrapper #login-top {
	width: 100%;
	padding: 140px 0 50px 0;
	text-align: center;
}
#login-wrapper #login-content {
	text-align: left;
	width: 360px;
	margin: 0 auto;
}
#login-wrapper #login-content label {
	font-weight: normal;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	float: left;
	width: 70px;
	padding: 0;
}
#login-wrapper #login-content input,#login-wrapper #login-content select {
	width: 200px;
	float: right;s
	margin: 0 0 20px 0;
	border: 0;
	background: #fff;
}
#login-wrapper #login-content .input{float:none; width:auto !important; }
#login-wrapper #login-content p {
	padding: 0;
}
#login-wrapper #login-content p#remember-password {
	float: right;
}
#login-wrapper #login-content p#remember-password input {
	float: none;
	width: auto;
	border: 0;
	background: none;
	margin: 0 10px 0 0;
}
#login-wrapper #login-content p .button {
	width: auto;
	margin-top: 20px;
}
/********************************      jQuery plugins styles      ********************************/

/*************** Facebox ***************/

#facebox .b {
	background:url(../images/b.png);
}
#facebox .tl {
	background:url(../images/tl.png);
}
#facebox .tr {
	background:url(../images/tr.png);
}
#facebox .bl {
	background:url(../images/bl.png);
}
#facebox .br {
	background:url(../images/br.png);
}
#facebox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	text-align: left;
}
#facebox .popup {
	position: relative;
}
#facebox table {
	border-collapse: collapse;
}
#facebox td {
	border-bottom: 0;
	padding: 0;
}
#facebox .body {
	padding: 10px;
	background: #fff;
	width: 370px;
}
#facebox .loading {
	text-align: center;
}
#facebox .image {
	text-align: center;
}
#facebox img {
	border: 0;
	margin: 0;
}
#facebox .footer {
	border-top: 1px solid #DDDDDD;
	padding-top: 5px;
	margin-top: 10px;
	text-align: right;
}
#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
	height: 10px;
	width: 10px;
	overflow: hidden;
	padding: 0;
}
#facebox_overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}
.facebox_hide {
	z-index:-100;
}
.facebox_overlayBG {
	background-color: #000;
	z-index: 99;
}
/*************** jQuery WYSIWYG ***************/

div.wysiwyg {
	border: 1px solid #cccccc;
	padding: 5px;
	background-color: #ffffff;
	width: 97.5% !important;
}
div.wysiwyg * {
	margin: 0;
	padding: 0;
}
div.wysiwyg ul.panel {
	border-bottom: 1px solid #cccccc;
	float: left;
	width: 100%;
	padding: 0 0 5px 0;
}
div.wysiwyg ul.panel li {
	list-style-type: none;
	float: left;
	margin: 0 2px;
	padding: 0 !important;
	background: #ffffff;
	background-image: none !important;
}
div.wysiwyg ul.panel li.separator {
	height: 16px;
	margin: 0 4px;
	border-left: 1px solid #cccccc;
}
div.wysiwyg ul.panel li a {
	display: block;
	padding: 0 !important;
	width: 16px;
	height: 16px;
	background: url('../images/icons/jquery.wysiwyg.gif') no-repeat -64px -80px;
	border: 0;
	cursor: pointer;
	padding: 1px;
}
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active {
}
div.wysiwyg ul.panel li a.active {
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	border-left-color: #aaaaaa;
	border-top-color: #aaaaaa;
	padding: 0;
}
div.wysiwyg ul.panel li a.bold {
	background-position: 0 -16px;
}
div.wysiwyg ul.panel li a.italic {
	background-position: -16px -16px;
}
div.wysiwyg ul.panel li a.strikeThrough {
	background-position: -32px -16px;
}
div.wysiwyg ul.panel li a.underline {
	background-position: -48px -16px;
}
div.wysiwyg ul.panel li a.justifyLeft {
	background-position: 0 0;
}
div.wysiwyg ul.panel li a.justifyCenter {
	background-position: -16px 0;
}
div.wysiwyg ul.panel li a.justifyRight {
	background-position: -32px 0;
}
div.wysiwyg ul.panel li a.justifyFull {
	background-position: -48px 0;
}
div.wysiwyg ul.panel li a.indent {
	background-position: -64px 0;
}
div.wysiwyg ul.panel li a.outdent {
	background-position: -80px 0;
}
div.wysiwyg ul.panel li a.subscript {
	background-position: -64px -16px;
}
div.wysiwyg ul.panel li a.superscript {
	background-position: -80px -16px;
}
div.wysiwyg ul.panel li a.undo {
	background-position: 0 -64px;
}
div.wysiwyg ul.panel li a.redo {
	background-position: -16px -64px;
}
div.wysiwyg ul.panel li a.insertOrderedList {
	background-position: -32px -48px;
}
div.wysiwyg ul.panel li a.insertUnorderedList {
	background-position: -16px -48px;
}
div.wysiwyg ul.panel li a.insertHorizontalRule {
	background-position: 0 -48px;
}
div.wysiwyg ul.panel li a.h1 {
	background-position: 0 -32px;
}
div.wysiwyg ul.panel li a.h2 {
	background-position: -16px -32px;
}
div.wysiwyg ul.panel li a.h3 {
	background-position: -32px -32px;
}
div.wysiwyg ul.panel li a.h4 {
	background-position: -48px -32px;
}
div.wysiwyg ul.panel li a.h5 {
	background-position: -64px -32px;
}
div.wysiwyg ul.panel li a.h6 {
	background-position: -80px -32px;
}
div.wysiwyg ul.panel li a.cut {
	background-position: -32px -64px;
}
div.wysiwyg ul.panel li a.copy {
	background-position: -48px -64px;
}
div.wysiwyg ul.panel li a.paste {
	background-position: -64px -64px;
}
div.wysiwyg ul.panel li a.increaseFontSize {
	background-position: -16px -80px;
}
div.wysiwyg ul.panel li a.decreaseFontSize {
	background-position: -32px -80px;
}
div.wysiwyg ul.panel li a.createLink {
	background-position: -80px -48px;
}
div.wysiwyg ul.panel li a.insertImage {
	background-position: -80px -80px;
}
div.wysiwyg ul.panel li a.html {
	background-position: -48px -48px;
}
div.wysiwyg ul.panel li a.removeFormat {
	background-position: -80px -64px;
}
div.wysiwyg ul.panel li a.empty {
	background-position: -64px -80px;
}
div.wysiwyg iframe {
	border: 0;
	margin: 5px 0 0 0;
	clear: left;
	width: 97.5% !important;
}

#ajax_loading{
	display:none;
	height:50px;
	width:180px;
	background:url(../images/bg-loading.png);
	color:#fff;
	position:fixed;
	top:0;
	left:50%;
	margin-left:-90px;
}
#ajax_loading img{
	position:absolute;
	top:5px; left:15px;
	width:30px;
	float:left; 
}
#ajax_loading span{
	position:absolute;
	top:15px; left:55px;
	font-size:14px;
	font-weight:bold;
}

.radios{
	margin-top: 1px;
	display:inline;
	overflow:hidden;
}
.radios .radio label{margin-bottom:0 !important; }
.radios .radio{position:relative;background: #000 url('../images/bg_radios.jpg') top left repeat-x; line-height:30px; float:left; margin:0; padding:0 10px 0 10px; border-left:solid 1px #ccc; margin-left:-1px; }
.radios .radio:hover{background-position:0 -40px;}
.radios .radio:active,.radios .radio.selected{background-position:0 -80px;}
.radios .radio.selected label{color:#000;}
.radios .radio span{position:absolute; line-height:100%; border:solid 1px #ccc; bottom:34px; width:200px; left:0; padding:5px; background:#fff; display:none; font-size:12px; }
.radios .radio:hover span{display:block; } 
.radios .radio input{display:none; }