.fw_pos1,.fw_pos2,.fw_pos3,.fw_pos4{overflow:hidden; height:10px;-webkit-border-radius:3px; position:absolute; top:0; left:0; }
.fw_pos1{border-left:solid 1px blue; }
.fw_pos2{border-top:solid 1px blue;background:lightyellow;  }
.fw_pos3{border-right:solid 1px blue; }
.fw_pos4{border-bottom:solid 1px blue; }

.fw_edit_form{border-color:orange !important; border-width:2px !important; }

#shadow_wrapper{margin:10px; }
#sb-player{background:#ccc; padding:20px; }